<!DOCTYPE html>
<html lang="en" xlmns:th="http://thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Forgot Password</title>

<!-- <link rel="stylesheet" href="../css/style.css"> -->
<link th:href="@{/ForgotPassword/css/page.css}" rel="stylesheet">
<link th:href="@{/ForgotPassword/css/style.css}" rel="stylesheet">
</head>

<body class="auth-view desktop en teacher using-mouse"
	onload='document.form.email.focus()'>
	<div class="app-container">
		<div class="nav-container">
			<div class="krafty-container-93d740e7-6742-4450-bed2-f28781674ef8">
				<header id="main-header" class="main-header desktop up awaited-up"
					style="">
					<div class="top-header">
						<div class="nav-size-container">
							<button class="bars hidden no-select"
								aria-label="Expand navigation menu">
								<span class="burger-icon cross"><span
									class="top-stripe stripe"></span><span
									class="mid-stripe stripe"></span><span
									class="bottom-stripe stripe"></span></span>
							</button>
							<div class="main-logo" style="margin-left: 20px">
								<button class="skip-to-main-content">Skip to main
									content</button>
								<a href="/admin"><img class=""
									src="https://cf.quizizz.com/img/quizizz_logos/white-brandmark-600x164.png"
									alt="Quizizz"></a>
							</div>
						</div>
					</div>
				</header>
			</div>
		</div>
		<main id="page-container" tabindex="0" class="page-container desktop"
			style="padding-top: 0px; margin-left: 0px; width: 100%;">
			<div class="page-inner">
				<div class="krafty-container-6a571eda-527e-473b-9143-7599c252a2f9">
					<div class="reset-password-view auth-container"
						style="opacity: 1; margin-top: 10px;">
						<div class="title">
							<img src="https://cf.quizizz.com/img/icons/auth_icons_2/key.png"
								alt="">
							<h1>Create a new password</h1>
						</div>
						<form th:action="@{/reset_password}" method="post">
							<input type="hidden" name="token" th:value="${token}" />
							<div class="auth-card">
								<div class="view-non-expired">
									<div class="">
										<div class="reset-for-email">
											New password for <span class="user-email"></span>
										</div>
										<div class="field">
											<label for="password">Create a new password</label> <input
												type="password" id="password" name="password" placeholder=""
												class="kr-textbox textbox ">
										</div>

										<div class="field">
											<label for="password-2">Re-enter New Password</label> <input
												type="password" name="confirmPssword" required autofocus 
												 oninput="checkPasswordMatch()" placeholder=""
												class="kr-textbox textbox" id="Confirmpassword">
											<div class="msg err fail hidden" aria-live="assertive"></div>
											<div class="status-msg msg ok hidden">New password
												created succesfully</div>
										</div>
									</div>
									<div class="hidden">
										<div class="status-msg">New password created succesfully</div>
									</div>
									<div class="buttons">
										<button class="signup-btn action-btn success" id="buttonreset" >Continue</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			
		</main>
		<div class="krafty-container-832dc81f-f60d-481e-9aa3-fdf18762d2e6">
			<div class="main-overlay-container hide-overlay"></div>
		</div>
	</div>

	<script type="text/javascript">
		const password = document.getElementById('password');
		const Confirmpassword = document.getElementById('Confirmpassword');
		const buttonreset = document.getElementById('buttonreset');
		function checkPasswordMatch() {
			if(password.value.trim() == Confirmpassword.value.trim()){
				
				buttonreset.classList.add('active');
			}
			else{
				
				if(buttonreset.classList.contains('active')){
					buttonreset.classList.remove('active');
				}
			}
		}
	</script>
</body>

</html>